<div style="margin-top: 20px; margin-left: 35%;">
  <form class="form" [formGroup]="form">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Consumer full name</mat-label>
        <input matInput placeholder="Enter consumer full name..." formControlName="consFullname">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>
          <div *ngIf="form.controls['consFullname'].errors">
            <div *ngIf="form.controls['consFullname'].errors.required" style="font-weight: bolder">Consumer fullname is required</div>
            <div *ngIf="form.controls['consFullname'].errors.maxlength" style="font-weight: bolder">Max length - 50 symbols</div>
            <div *ngIf="form.controls['consFullname'].errors.pattern" style="font-weight: bolder">Consumer fullname must be written only with latin
              letters and spaces</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Consumer phone number</mat-label>
        <input matInput placeholder="Enter consumer phone number..." formControlName="consPhoneNumber">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>
          <div *ngIf="form.controls['consPhoneNumber'].errors">
            <div *ngIf="form.controls['consPhoneNumber'].errors.required" style="font-weight: bolder">Consumer phone number is required</div>
            <div *ngIf="form.controls['consPhoneNumber'].errors.pattern" style="font-weight: bolder">Number format: "(+380)_________"</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <div *ngIf="!isConfirmed">
      <div *ngFor="let err of errors" style="font-weight: bold" class="mat-error">{{err}}</div>
    </div>
    <button style="margin-top: 10px;" mat-raised-button (click)="onEditClick()"><mat-icon>done_outline</mat-icon> Confirm</button>
    <a id="popup-2-close" href="javascript:PopUpHide(2)" style="margin-left: 10px;" mat-raised-button color="warn" (click)="onCloseClick()"><mat-icon>close</mat-icon> Close</a>
  </form>
</div>
