<div style="margin-top: 20px; margin-left: 35%;">
  <form class="form" [formGroup]="form">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Consumer full name</mat-label>
        <input matInput placeholder="Enter consumer full name..." formControlName="consFullname">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint style="font-weight: bold">
          <div *ngIf="form.controls['consFullname'].errors">
            <div *ngIf="form.controls['consFullname'].errors.required" class="mat-error">Consumer fullname is required</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Consumer email</mat-label>
        <input matInput placeholder="Enter consumer email..." formControlName="consEmail">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint style="font-weight: bold">
          <div *ngIf="form.controls['consEmail'].errors">
            <div *ngIf="form.controls['consEmail'].errors.required" class="mat-error">Consumer email is required</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <div *ngIf="!isConfirmed">
      <div *ngFor="let err of errors" style="font-weight: bold" class="mat-error">{{err}}</div>
    </div>
    <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="onEditClick()" [disabled]="disabled"><mat-icon>done_outline</mat-icon> Confirm</button>
    <button style="margin-left: 10px;" mat-raised-button color="warn" (click)="onCloseClick()"><mat-icon>close</mat-icon> Close</button>
  </form>
</div>
