.container{
  display: flex;
  justify-content: space-around;
}

.main{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.head-link{
  display: flex;
  text-decoration: none;
  color: black;
}

.head-link:hover{
  text-decoration: none;
}

.toolbar{
  background-color: #47a5ef;
}

.dashboard-img{
  margin-top: 10px;
  transform: scale(2);
}

.btns-cont{
  display: flex;
  justify-content: space-between;
}

footer{
  height: 85px;
  background-color: #47a5ef;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.social{
  margin-top: 2%;
  display: flex;
}

.social  img{
  margin: 5px;
  width: 20px;
  height: 20px;
}

.copyright{
  margin-top: 2%;
}
