.container{
  display: flex;
  justify-content: space-around;
}

.main{
  background-attachment: fixed;
  background-image: url('https://i.pinimg.com/736x/b0/f8/22/b0f822ddc1533b7274bc271767be2f72.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.containers{
  display: flex;
  height: 100%;
}

.left-container{
  height: 100%;
  box-sizing: border-box;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  background: white;
}

.central-container{
  height: 100%;
  box-sizing: border-box;
  width: 50%;

  background: white;
}

.right-container{
  height: 100%;
  box-sizing: border-box;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  background: white;
}

.toolbar{
  background-color: #5de940;
}
