<div>
  <form class="form" style="margin-top: 30px; margin-left: 35%;" [formGroup]="form">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Old password</mat-label>
        <input matInput type="password" placeholder="Enter old password..." formControlName="oldPassword">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint style="font-weight: bold">
          <div *ngIf="form.controls['oldPassword'].errors">
            <div *ngIf="form.controls['oldPassword'].errors.required" class="mat-error">Old password is required</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>New password</mat-label>
        <input matInput type="password" placeholder="Enter new password..." formControlName="newPassword">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint style="font-weight: bold">
          <div *ngIf="form.controls['newPassword'].errors">
            <div *ngIf="form.controls['newPassword'].errors.required" class="mat-error">New password is required</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Confirm new password</mat-label>
        <input matInput type="password" placeholder="Confirm new password..." formControlName="confirmNewPassword">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint style="font-weight: bold">
          <div *ngIf="form.controls['newPassword'].value !== form.controls['confirmNewPassword'].value">
            <div class="mat-error">Passwords are not comparing</div>
          </div>
        </mat-hint>
      </mat-form-field>
    </p>
    <div *ngIf="!isConfirmed">
      <div *ngFor="let err of errors" style="font-weight: bold" class="mat-error">{{err}}</div>
    </div>
    <button mat-raised-button color="primary" (click)="onEditClick()" [disabled]="disabled"><mat-icon>done_outline</mat-icon> Confirm</button>
    <button style="margin-left: 10px;" mat-raised-button color="warn" (click)="onCloseClick()"><mat-icon>close</mat-icon> Close</button>
  </form>
</div>
