<div>
  <form class="form" style="margin-top: 30px; margin-left: 35%;" [formGroup]="form">
    <p>
    <div style="display:flex; flex-direction: column">
      <mat-label>Photo</mat-label>
      <input type="file" accept=".jpg" (change)="onPhotoChange($event)">
    </div>
    <mat-hint>
      <div *ngIf="form.controls['photo'].errors">
        <div *ngIf="form.controls['photo'].errors.required" style="font-weight: bolder">Photo is required</div>
      </div>
    </mat-hint>
    <p></p>
    <div *ngIf="!isConfirmed">
      <div *ngFor="let err of errors" style="font-weight: bold">{{err}}</div>
    </div>
    <button mat-raised-button (click)="onEditClick()"><mat-icon>done_outline</mat-icon> Confirm</button>
    <a id="popup-3-close" href="javascript:PopUpHide(3)" style="margin-left: 10px;" mat-raised-button color="warn"><mat-icon>close</mat-icon> Close</a>
  </form>
</div>
