.btns{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btns > a{
  width: 125px;
  padding: 0;
}

.b-popup{
  width:100%;
  min-height:100%;
  z-index: 100;
  overflow:hidden;
  position:fixed;
  top: 10%;
  left: 25%;
  display: none;
}
.b-popup .b-popup-content{
  width: 50%;
  padding:10px;
  background-color: #e7e1e1;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}
