<div>
  <h1 style="margin-left: 39%;">Fan tours editor</h1>
  <div class="btns">
    <a  href="javascript:PopUpShow(1)" mat-raised-button style="margin-bottom: 10px;">Add new item</a>
  </div>
  <div class="b-popup" id="popup1">
    <div class="b-popup-content">
      <add-fantour (addEvent)="changeEvent()"></add-fantour>
    </div>
  </div>
  <div class="b-popup" id="popup2">
    <div class="b-popup-content">
      <update-fantour [tourId]="tourId" (updateEvent)="changeEvent()"></update-fantour>
    </div>
  </div>
  <div class="b-popup" id="popup3">
    <div class="b-popup-content">
      <update-fantour-photo [tourId]="tourId" (updateEvent)="changeEvent()"></update-fantour-photo>
    </div>
  </div>
  <ng-container *ngIf="this.fantours$ | async as fantours">
      <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-top: 35px;" *ngIf="fantours.length != 0">
        <admin-fantour (editClick)="updateEvent($event)" style="width: 40%; margin-top: 10px;" *ngFor="let fantour of fantours" [fantour]="fantour"></admin-fantour>
      </div>
    <mat-paginator *ngIf="totalResults > pageSize" style="margin-top: 50px;" (page)="onPaginatorClick($event)"
                   [length]="totalResults"
                   [pageSize]="pageSize"
                   aria-label="Select page"></mat-paginator>
    <h1 style="margin-left: 20px; margin-top: 20px;" *ngIf="fantours.length == 0">There is no fan tours yet...</h1>
  </ng-container>

</div>
