<mat-card class="example-card">
  <mat-card-content>
    <img style="width: 50%; margin-left: 25%;" src="{{news.photo}}" alt="">
    <div style="margin-top: 10px;"><b>Title:</b></div>
    <div>{{news.title.slice(0, 20)}}...</div>
    <div style="margin-top: 10px;"><b>Text:</b></div>
    <div>{{news.text.slice(0, 20)}}...</div>
  </mat-card-content>
  <div class="btns">
    <button mat-raised-button color="warn" (click)="onRemoveClick()"><mat-icon>delete</mat-icon> Remove</button>
    <a href="javascript:PopUpShow(2)" mat-raised-button style="background-color: #fab904" (click)="onUpdateClick()"><mat-icon>update</mat-icon> Update</a>
  </div>
  <div class="btns" style="margin-top: 10px;">
    <a mat-raised-button href="javascript:PopUpShow(3)" style="background-color: #fab904; width: 140px;" (click)="onUpdatePhotoClick()"><mat-icon>update</mat-icon> Update photo</a>
  </div>
</mat-card>
