<div>
  <h1 style="margin-left: 41%;">Orders editor</h1>
  <div class="btns">
    <a routerLink="add"
       mat-raised-button style="background-color: #6bb9e1; margin-bottom: 10px;">Add new item</a>
  </div>
  <router-outlet (deactivate)="deactivate()"></router-outlet>
  <ng-container *ngIf="this.orders$ | async as orders">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-top: 35px;" *ngIf="orders.length != 0">
      <admin-order *ngFor="let order of orders" [order]="order"></admin-order>
    </div>
    <h1 style="margin-left: 20px; margin-top: 20px;" *ngIf="orders.length == 0">There is no orders yet...</h1>
  </ng-container>
  <mat-paginator style="margin-top: 20px;" (page)="onPaginatorClick($event)"
                 [length]="totalResults"
                 [pageSize]="pageSize"
                 aria-label="Select page"></mat-paginator>
</div>
