<div>
  <h1 style="margin-left: 41%;">Orders editor</h1>
  <div class="b-popup" id="popup2">
    <div class="b-popup-content">
      <update-order [orderId]="orderId" (updateEvent)="changeEvent()"></update-order>
    </div>
  </div>
  <ng-container *ngIf="this.orders$ | async as orders">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-top: 35px;" *ngIf="orders.length != 0">
      <admin-order *ngFor="let order of orders" (editClick)="updateEvent($event)" [order]="order"></admin-order>
    </div>
    <mat-paginator *ngIf="totalResults > pageSize" style="margin-top: 20px;" (page)="onPaginatorClick($event)"
                   [length]="totalResults"
                   [pageSize]="pageSize"
                   aria-label="Select page"></mat-paginator>
    <h1 style="margin-left: 20px; margin-top: 20px;" *ngIf="orders.length == 0">There is no orders yet...</h1>
  </ng-container>

</div>
