

  <div class="containers">
    <div class="left-container">
      <div style="min-height: 100%">
        Sort
      </div>
    </div>
    <div class="central-container">
      <div style="min-height: 100%">
        <ng-container *ngIf="this.fantoursService.fantours$ | async as fantours">
          <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            <fantour style="width: 40%; margin-top: 10px;" *ngFor="let fantour of fantours" [fantour]="fantour"></fantour>
          </div>
          <h1 style="margin-top: 20px;" *ngIf="fantours.length == 0">There is no fantours yet. Come back again later...</h1>
        </ng-container>
        <mat-paginator style="margin-top: 20px;" (page)="onPaginatorClick($event)"
                       [length]="totalResults"
                       [pageSize]="pageSize"
                       aria-label="Select page"></mat-paginator>
      </div>
    </div>
    <div class="right-container">
      <div style="min-height: 100%">
        News
      </div>
    </div>
  </div>

