<mat-card class="example-card">
  <mat-card-content>
    <div style="margin-top: 10px;"><b>Consumer full name:</b> {{order.consFullname.slice(0, 20)}}...</div>
    <div style="margin-top: 10px;"><b>Consumer email:</b> {{order.consEmail}}</div>
    <div style="margin-top: 10px;"><b>Consumer phone number:</b> {{order.consPhoneNumber}}</div>
    <div *ngIf="fantour$ | async as fantour">
      <div><b>Fan tour:</b></div>
      <div>{{fantour.title.slice(0, 20)}}...</div>
      <img src="{{fantour.photo}}" style="width: 70%; height: 100px; margin-left: 15%;" alt="">
      <div><b>Description:</b></div>
      <div>{{fantour.description.slice(0, 20)}}...</div>
      <div><b>Schedule:</b></div>
      <div>{{fantour.schedule.slice(0, 20)}}...</div>
      <div><b>Price with ticket:</b> {{fantour.priceWithoutTicket + fantour.ticketPrice}} $</div>
    </div>
  </mat-card-content>
  <div class="btns">
    <button mat-raised-button color="warn" (click)="onRemoveClick()"><mat-icon>delete</mat-icon> Remove</button>
    <a href="javascript:PopUpShow(2)" mat-raised-button style="background-color: #fab904" (click)="onUpdateClick()"><mat-icon>update</mat-icon> Update</a>
  </div>
</mat-card>
